{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/create-post.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <title>Create Post</title>
</head>
<body>

<div class="cover">
<div class="container">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <span class="form-title">Create Post</span>
        
        <label for="title">Title*</label>
        <input placeholder="Title" type="text" name="title" required>
   
        <label for="post-body">Body*</label>
        <textarea placeholder="Type here" name="post-body" cols="30" rows="10" required></textarea>


        <label for="image">Image</label>
        <input type="file" name="image" accept="image/*">

        <label for="genres">Genres*</label><div id="selected-options"></div>
        <select name="genres" multiple required>
            {% for genre in genres %}
            <option value="{{genre.id}}">{{genre.name}}</option>
            {% endfor %}
        </select>
        
        <script>
            $(document).ready(function(){
                $('select').change(function(){
                    var selectedCount = $('select option:selected').length;
                    if(selectedCount>5){
                        $('select option:not(:selected)').prop('disable',true);
                        alert('You can only select Up to 5 Genres');
                    }else{
                        $('select option:not(:selected)').prop('disable',false);
                    }
                    var selectedOptions = $('select').val();
                    $('#selected-options').text('Selected options:' + selectedOptions.join(', '));
                });

                $('select').on('mousedown', function(e){
                    if($('option:selected', this).length>=5){
                        e.preventDefault();
                    }
                });
            });  
        </script>

        <button type="submit">Post</button>
    </form>
</div>
</div>

</body>
</html>

