{% load static %}
<!-- <form method="POST" action="">
	{% csrf_token %}
	<p>Are you sure you want to delete "{{obj}}"?</p>
	<a href="{{request.META.HTTP_REFERER}}">GO BACk</a>
	<input type="submit" value="Confirm">
</form> -->
      
<link rel="stylesheet" href="{% static 'css/delete-modal.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="popup" id="popup">
	<form>
		{% csrf_token %}
		<h2>Are you sure you wnat to delete <p id="mytext2"></p>?</h2>
		<p id="mytext"></p>
		<button type="button" class="close" onclick="closeModal()">Close</button>
		<button type="button" class="Confirm-delete" data-url="{% url 'delete' %}" onclick="passValues()">Delete</button>
	</form>
	
</div>
<script src="{% static 'js/delete.js' %}"></script>

