{% load static %}
<link rel="stylesheet" href="{% static 'css/feed.css' %}">
<link rel="stylesheet" href="{% static 'css/delete-modal.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<!-- post fetching block start -->
{% for post in posts %}
<div class="post-defination">
    
    <!-- user name section -->
    <div  class="post-head-section">
      <div>
         <a href="{% url 'profile' post.author.user.id %}"><img loading="lazy" src="{{post.author.profile_img.url}}"></a>
      </div> 
      <a href="{% url 'profile' post.author.user.id %}">
      <div class="user-name">
          <span>{{post.author.user.first_name}} {{post.author.user.last_name}} </span>
          <span>@{{post.author.user.username}}</span>
      </div>
      </a>
      <div class="feed-date">
        <span>{{post.created | date:"d, M / y"}}</span>
      </div> 
      <div class="feed-genres">
        {% for genre in post.genres.all %}
          <img loading="lazy" id="genre-icon" src="{{genre.genre_img.url}}" title="{{genre.name}}" > 
        {% endfor %}
      </div>
      {% if post.author.user == request.user %}
      <span type="submit" class="open-delete" onclick="deleteModal({value1:'{{post.post_title}}', value2:'{{csrf_token}}',value3:'Post', value4:'{{post.id}}'})">
      <img src="/static/default-img/remove.png"></span>
      {% endif %}
    </div>
    <!-- user name section ends -->

    <div class="post-title">
      {% if post.post_title %}
        <textarea readonly >{{post.post_title}}</textarea>
      {% endif %}
    </div>
    <a href="{% url 'postpage' post.id %}">
    <div class="post-body-section" >
            <!-- written content section -->
        <div>
            <textarea readonly>{{post.text_body|slice:":300"}}......</textarea>
        </div>
        <!-- wrriten content section ends -->
        <!-- img section start  -->
        <div class="post-image">
          {% if post.image %}
            <img loading="lazy" src="{{post.image.url}}" alt="">
          {% endif %}
        </div>
        <!-- img section ends -->

    </div>
  </a>
    <div class="post-foot-section">
      <span class="foot-info">❤️{{post.no_likes}}</span>
      <span class="foot-info">💬{{post.no_comments}}</span>
    </div>
</div>
<script>
$(document).ready(function() {
  $(".post-body-section").each(function() {
    var postImage = $(this).find(".post-image img");
    if (!postImage.length) {
      $(this).css("grid-template-columns", "539px");
    }
  });
});
</script>
{% endfor %}

<script src="{% static 'js/delete.js' %}"></script>