{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viweport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="shortcut icon" href="/static/default-img/RedBird.ico" type="image/x-icon">

    <title>Red Bird</title>
</head>
<body scroll="no" style="overflow:hidden" class="main-page">
    {% block content %}
    <!-- Delete Modal -->
    {% include 'delete.html' %}
    <!-- main page start -->
    <div class="head-section">
      <div class="search-tab">{% include 'search.html' %}</div>

      <div class="body-section">

        <div class="navigation-panel">{% include 'navigation.html' %}</div>
  
        <div class="active-panel">{% include 'post.html' %}</div>
        
		<div class="post-container">{% include 'feed.html' %}</div>
      </div>
      
    </div>
    {% endblock content %}
</body>
</html>