{% load static %}
{% load profile_img_tag %}
<link rel="stylesheet" href="{% static 'css/navigation.css' %}">

<div class="navigation-div">
    <ul>
        <li>
            <a class="nav-item" href="{% url 'index' %}">
            <img src="{% static 'default-img/icons/Home-icon.svg' %}">
            <span>Home</span></a>
        </li>
        <li>
            <a href="{% url 'create-post' %}">
            <img src="{% static 'default-img/icons/Edit-icon.svg' %}">
            <span>Create</span></a>
        </li>
        {% if user.is_authenticated %}
        <li>
            <a href="{% url 'profile' user.id %}">
            <img src="{% static 'default-img/icons/Search-icon.svg' %}">
            <span>Profile</span></a>
        </li>
        <li>
            <a href="{% url 'signin' %}">
            <img src="{% static 'default-img/icons/Login-icon.svg' %}">
            <span>Login</span></a>
        </li>
        <li>
            <a href="{% url 'signout' %}">
            <img src="{% static 'default-img/icons/Logout-icon.svg' %}">
            <span>Logout</span></a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'signup' %}">
            <img src="{% static 'default-img/icons/Login-icon.svg' %}">
            <span>Signin</span></a>
        </li>
        <li>
            <a href="{% url 'signin' %}">
            <img src="{% static 'default-img/icons/Login-icon.svg' %}">
            <span>Login</span></a>
        </li>       
        {% endif %}
       
    </ul>
</div>

<div class="profile-div">
    {% if request.user.is_authenticated%}
    <img src="{% profile_img user.id %}">
    <h3>@{{user}}</h3>
    {% else %}
    <h4>AnonymouseUser</h4>
    {% endif %}

    <!-- Message area -->
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li><h3>{{ message }}</h3></li>
        {% endfor %}
      </ul>
    {% endif %}
</div>