{% load static %}
{% load profile_img_tag %}
<link rel="stylesheet" type="text/css" href="{% static 'css/post-page.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="postpopup">
<div class="content-container">
    <div class="content-head">
        <div>
            <a href="{% url 'profile' post.author.user.id %}"><img src="{{post.author.profile_img.url}}"></a>
        </div>
        <a href="{% url 'profile' post.author.user.id %}">
            <div class="profile-user-name">
                <span>{{post.author.user.first_name}} {{post.author.user.last_name}}</span>
                <span>@{{post.author.user.username}}</span>
            </div>
        </a>
        <div class="post-date">
            <span>{{post.created | date:"d, M / y"}}</span>
        </div> 
        <div class="content-genres">
            {% for genre in post.genres.all %}
            <img loading="lazy" src="{{genre.genre_img.url}}" alt="{{genre.name}}" title="{{genre.name}}"> 
          {% endfor %}
        </div>

    </div>

    <div class="content-title">
            <textarea spellcheck="flase" readonly >{{post.post_title}}</textarea>
    </div>


    <div class="content-body">
        <textarea spellcheck="false">{{post.text_body}}</textarea>
    </div>
    <div class="postImage">
        <img loading="lazy" src="{{post.image.url}}" alt="">
        <button data-post-id="{{post.id}}" id="post-like-button">
            {% if is_liked %}
            <svg id="heart-svg" xmlns="http://www.w3.org/2000/svg" fill="red" height="70" viewBox="0 96 960 960" width="70">
                <path d="M479 963.5 423 913q-107.766-99.072-177.919-171.093-70.152-72.021-111.901-128.866-41.749-56.844-57.964-103.916Q59 462.053 59 413.5q0-99.505 66.498-166.502Q191.995 180 290.5 180q55.288 0 103.144 24Q441.5 228 479 275.5q44-50 89.185-72.75Q613.371 180 667.629 180q99.38 0 166.376 66.943Q901 313.886 901 413.308q0 48.73-16.216 95.309-16.215 46.58-57.964 103.424-41.749 56.845-112.401 129.366Q643.766 813.928 536 913l-57 50.5Z"/>
            </svg>
            {% else %}
            <svg id="heart-svg" xmlns="http://www.w3.org/2000/svg" fill="grey" height="70" viewBox="0 96 960 960" width="70">
                <path d="M479 963.5 423 913q-107.766-99.072-177.919-171.093-70.152-72.021-111.901-128.866-41.749-56.844-57.964-103.916Q59 462.053 59 413.5q0-99.505 66.498-166.502Q191.995 180 290.5 180q55.288 0 103.144 24Q441.5 228 479 275.5q44-50 89.185-72.75Q613.371 180 667.629 180q99.38 0 166.376 66.943Q901 313.886 901 413.308q0 48.73-16.216 95.309-16.215 46.58-57.964 103.424-41.749 56.845-112.401 129.366Q643.766 813.928 536 913l-57 50.5Z"/>
            </svg>
            {% endif %}
        </button>
    </div>
    <div class="comments-container">
        <div class="make-comment">
            <form method="POST" action="{% url 'add_comment' %}">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{post.id}}">
                <input type="text" name="comment" required placeholder="Make a comment">
                <button type="sumbit">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="black" viewBox="0 0 512 512">
                        <path d="M278.5 215.6L23 471c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l57-57h68c49.7 0 97.9-14.4 139-41c11.1-7.2 5.5-23-7.8-23c-5.1 0-9.2-4.1-9.2-9.2c0-4.1 2.7-7.6 6.5-8.8l81-24.3c2.5-.8 4.8-2.1 6.7-4l22.4-22.4c10.1-10.1 2.9-27.3-11.3-27.3l-32.2 0c-5.1 0-9.2-4.1-9.2-9.2c0-4.1 2.7-7.6 6.5-8.8l112-33.6c4-1.2 7.4-3.9 9.3-7.7C506.4 207.6 512 184.1 512 160c0-41-16.3-80.3-45.3-109.3l-5.5-5.5C432.3 16.3 393 0 352 0s-80.3 16.3-109.3 45.3L139 149C91 197 64 262.1 64 330v55.3L253.6 195.8c6.2-6.2 16.4-6.2 22.6 0c5.4 5.4 6.1 13.6 2.2 19.8z"/>
                    </svg>
                </button>
            </form>
        </div>
        {% for comment in comments %}
        <div class="comments-section">
            <div class="comment">
                <p name="comment">{{comment.text}}</p>
                <div class="comment-foot">
                    <a href="{% url 'profile' comment.user.id %}"><img src="{% profile_img comment.user.id %}"></a>
                    <a href="{% url 'profile' comment.user.id %}">
                        <div class="comment-info">
                            <span>{{comment.created_at | date:"d, M/y"}}</span>
                            <span>{{comment.user.first_name}} {{comment.user.last_name}} | @{{comment.user.username}}</span>
                        </div>
                    </a>
                    {% csrf_token %}
                    <a href="{% url 'delete_comment' comment.id %}">
                    <span class="open-delete">
                        <img src="{% static 'default-img/remove.png' %}"></span></a>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>

</div>
</div>
<script src="/static/js/post-page.js"></script>
<script src="/static/js/textareaExtender.js"></script>