{% load static %}
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/post-page.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="postpopup">
<div class="content-container">
    <div class="content-head">
        <div>
            <a href="{% url 'profile' post.author.user.id %}"><img src="{{post.author.profile_img.url}}"></a>
        </div>
        <a href="{% url 'profile' post.author.user.id %}">
            <div class="user-name">
                <span>{{post.author.user.first_name}} {{post.author.user.last_name}}</span>
                <span>@{{post.author.user.username}}</span>
            </div>
        </a>
        <div>
            <h6>{{post.created_at}}</h6>
        </div> 
        <div class="content-genres">
            {% for genre in post.genres.all %}
            <img loading="lazy" id="genre-icon" src="{{genre.genre_img.url}}" alt="{{genre.name}}"> 
          {% endfor %}
        </div>

    </div>

    <div class="content-title">
            <textarea readonly id="context-title">{{post.post_title}}</textarea>
    </div>

    <div class="content-body">
        <textarea name="" id="postText">{{post.text_body}}</textarea>
    </div>
    <div class="postImage">
        <img loading="lazy" src="{{post.image.url}}" alt="">
    </div>
    <div class="comments-container">
        <div class="make-comment">
            <form method="POST" action="{% url 'add_comment' %}">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{post.id}}">
                <input type="text" name="comment" placeholder="Make a comment">
                <button type="sumbit"><img src="/static/default-img/icons/feather-solid.svg"></button>
            </form>
        </div>
        {% for comment in comments %}
        <div class="comments-section">
            <div class="comment">
                <p name="comment">{{comment.text}}</p>
                <div class="comment-foot">
                    <a href="#"><img src="{% url 'profile' comment.user.id %}"></a>
                    <a href="#">
                        <div class="comment-info">
                            <span>{{comment.created_at}}</span>
                            <span>{{comment.user.first_name}} {{comment.user.last_name}} | @{{comment.user.username}}</span>
                        </div>
                    </a>
                    <span href="#" type="submit" class="open-delete" onclick="deleteModal({value1:'{{post.id}}', value2:'{{post.post_title}}', value3:'{{csrf_token}}'})">
                        <img src="/static/default-img/remove.png"></span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
<script src="/static/js/post-page.js"></script>