{% load static %}
{% load profile_img_tag %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
    @font-face {
        font-family:"ComicB" ;
        src: url("/static/fonts/Comic_Neue/ComicNeue-Bold.ttf") format("truetype");
        font-weight: 1000;
        font-style: bold;
    }
    *{
        border-color: rgb(255, 72, 72);
        font-family:"ComicB",sans-serif;
    }
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        padding: 0;
        background-color:rgb(40,40,40);
        backdrop-filter: blur(5px);


    }
    .container{
        display: grid;
        grid-template-rows: max-content auto;
        width: calc(100vw - 100px);
        height: calc(100vh - 100px);
        margin:50px;
        background-color: transparent;
        border:4px solid rgb(255, 72, 72);
        row-gap: 20px;
        padding-bottom:10px ;
        /* box-shadow:30px 40px 40px 10px rgba(130, 130, 130, 0.804);  */
        /*the first value :vertical horisontal blur spred */
        /*inset change the position of shadow from out side to inside   */
    }

    .profile-panel{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        color: white;
        width: 100%;
        height: 100%;
    }
    .profile-img{
        position: relative;
        height: 240px;
        background-color: rgba(255, 255, 255, 0.917);
    }
    .profile-img a{
        position: absolute;
        bottom: 0;
        right: 0;
        text-decoration: none;color:black ;
        border: 1px solid black;
        padding: 5px;
    }
    .profile-panel img{
        display: block;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: transparent;
        border: 4px solid white;
        box-shadow: 0 0 20px 5px rgb(255, 98, 98);
        object-fit: cover; 
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        transform-origin: center;
        transition: transform 0.3s ease-out;
    }
    .profile-panel img:hover{
        background-color:white;
        transform: scale(1.5);
        border-radius: 0;
        object-fit: contain;
        border: none;
        box-shadow: none;
    }
    .profile-panel h2{
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
    }
    .profile-panel hr{
        width: 80%;
        background-color: white;
        height:3px;
        border-color: rgb(255, 90, 90);
    }

    .profile-panel textarea{
        font-family: inherit;
        font-size:18px;
        margin-left: auto;
        margin-right: auto;
        resize: none;
        line-height:1;
        padding:0;
        background-color: transparent;
        border: 0;
        color: white;
        outline: none;


    }

    .profile-post{
        font-family: inherit;
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(540px, 1fr));
        grid-auto-rows: max-content;
        gap: 10px;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: none;
        color: black;
    }
    .profile-post::-webkit-scrollbar{
        display: none;
    }

</style>

<body>
    <div class="container">
        <div class="profile-panel">
            <div class="profile-img">
                <img src="{% profile_img user.id %}" alt="No Profile">
                <a href="{% url 'edit-profile' %}">Edit Profile</a>
            </div>
            <h2>{{user.first_name}} {{user.last_name}} |<small> @{{user.username}}</small></h2>
            <hr>
            <textarea readonly>{{user.profile.bio}}</textarea>
            <script src="/static/js/textareaExtender.js"></script>
            <hr>
        </div>
        <div class="profile-post">
           {% include 'feed.html' %}
        </div>
    </div>
</body>

