{% load static %}
<style>    
.search-div{
    display: flex;
    flex-direction: row;
    font-family: inherit;
}
.brand-name-div{
    width:fit-content;
    height:fit-content;
    margin-right:100px;
}
.brand-name-div img{
    object-position: contain;
    height:auto;
    width: 190px;
    margin-left: auto;
    margin-right: auto;
}

.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.search-bar {
    border: 1px solid rgb(164, 164, 164);
    border-radius: 50px;
    padding: 10px;
    width: 350px;
    margin-right: 10px;
}

.search-form button[type="submit"] {
    position: absolute;
    background-color: transparent;
    right: 13px;
    border: none;
    border-radius:0 50px 50px 0;
    color: white;
    cursor: pointer;
    padding:0;
}
.search-form button img{
    width: 30px;
    height:100%;
}
/* .search-form button[type="submit"]:hover {
    background-color: rgb(255, 100, 100);
} */

</style>

<div class="search-div">
    <div class="brand-name-div">
        <img src="{% static 'default-img/icons/Red_bird-icon.svg' %}" alt="">
    </div>
    <form  method="GET" class="search-form">
        {% csrf_token %}
        <input class="search-bar" name="q" type="text" placeholder="Search...">
        <button type="submit" id="searchButton"><img src="{% static 'default-img/icons/Search-icon.svg' %}" alt="" srcset=""></button>
        <script>
            $(document).ready(()=>{
                $("#searchButton").on("click", function(){
                    $(".search-bar").css("background-color","rgb(255, 100, 100)");
                });
            });
        </script>
    </form>
</div>

  