<style>
	.container{
		display: flex;
		flex-direction:column ;
		background-color: rgb(152, 155, 255);
		color: aliceblue;
		width: 700px;
		height: 350px;
		margin-top: 25%;
		margin-left: auto;
		margin-right: auto;
		padding:10px ;
		border-radius: 10px;
	}
	.signin-form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.form-title {
		margin-bottom: 20px;
		font-weight: 500;
		font-size: 36px;
	}
	.form-input{
		width:80%;
		margin: auto;
		padding: 10px;
		font: 29px;
		border-radius: 10px;
	}
	.form-label{
		font-weight:300px;
 	 	font-size: 30px;
	}
	.form-btn{
		width: 100px;
		height: 25px;
		margin: 30px;
	}

</style>

<div class="container">
	<form method="POST" class="signin-form">
		{% csrf_token %}
		<span class="form-title">LOGIN</span>
		<label class="form-label">Username:</label>
		<input class="form-input" type="text" placeholder="Enter Username" name="username">
		
		<label class="form-label">Password:</label>
		<input class="form-input" type="password" placeholder="Enter Password" name="password">

		<input class="form-btn" type="submit" vlue="Login">
		<p>haven`t signed up yet ?</p>
		<a href="{% url 'signup' %}">Sign up</a>
	</form>
	
</div>


