<style>
  @font-face {
    font-family:"Concert" ;
    src: url("/static/fonts/Concert_One/ConcertOne-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family:"Comic" ;
    src: url("/static/fonts/Comic_Neue/ComicNeue-Bold.ttf") format("truetype");
  }
  *{
    font-family:"Concert";
    font-weight: 500;
    background-color: rgb(41, 41, 41);
  }
  .container{
    width: fit-content;
    border-radius: 10px;
    margin-left: auto;
    margin-right:auto ;
}
form{
    display: flex;
    flex-direction:column ;
    gap:10px;
    border:1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    width: 700px;
    height: fit-content;
    margin-top:15%;
    margin-left: auto;
    margin-right: auto;
    padding:10px ;
    border-radius: 10px;
}
.form-title{
    margin-left:auto;
    margin-right: auto;
    font-size:26px;
}
.container label{
    font-size: 16px;
}

input[type=text], input[type=password], input[type=cpassword], input[type=email]{
    font-family:inherit;
    background-color: rgba(73, 73, 73, 0.555);
    backdrop-filter: blur(5px);
    padding: 8px 20px;
    font-size: 18px;
    color: white;
    border:1px solid #ffffff;
    border-radius: 10px;
}

input[type=submit]{
    width: 100px;
    height:fit-content;
    font-family: inherit;
    font-size:20px;
    background-color: rgb(255, 100, 100);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    padding:2px 0 2px 0;
}
span{
  margin-left: auto;
  margin-right: auto;
}
a,b{
  color: yellow;
}

</style>

<div class="container">
<form autocomplete="off" method="POST">
    {% csrf_token %}
      <span class="form-title">SIGN UP</span>

      <div>
        <label for="firstname">First Name</label>
        <input type="text" name="fname" autocomplete="off">

        <label for="lastname">Last Name</label>
        <input type="text" name="lname" autocomplete="off">
      </div>

      <label for="username">Username</label>
      <input type="text" name="username" autocomplete="off">

      <label for="email">Email</label>
      <input type="email" name="email">

      <label for="password">Password</label>
      <input type="password"  name="password">

      <label for="cpassword">Confirm Password</label>
      <input type="cpassword" name="cpassword">

      <input type="submit" value="Sign Up">
      <span>Already Have an account?<a href="{% url 'signin' %}">Log In</a></span>
      
      <span>By clicking the <b>Sign up button</b>,you are creating an account,
      and agree to <b>Red Bird's</b> Terms of Service and Privacy Policy</span>
</form>
</div>