{% load static %}
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/post-page.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<div class="content-container">
    <div class="content-head">
        <div>
            <a href="#"><img src="{{post.author.profile_img.url}}"></a>
        </div>
        <a href="#">
            <div class="user-name">
                <span>{{user.first_name}} {{user.last_name}}</span>
                <span>@{{user.username}}</span>
            </div>
        </a>
        <div>
            <h6>{{post.created | date:"F d Y"}}</h6>
        </div> 
        <div class="content-genres">
            {% for genre in post.genres.all %}
            <img loading="lazy" id="genre-icon" src="{{genre.genre_img.url}}" alt="{{genre.name}}"> 
          {% endfor %}
        </div>

    </div>

    <div class="content-title">
        {% if post.post_title %}
            <textarea readonly >{{post.post_title}}</textarea>
        {% endif %}

    </div>

    <div class="content-body">
        <textarea name="" id="postText">{{post.text_body}}</textarea>
    </div>
    <div class="postImage">
        {% if post.image %}
        <img loading="lazy" src="{{post.image.url}}" alt="">
      {% endif %}
    </div>
    <div class="comments-container">
        <div class="make-comment">
            <input type="text" name="comment" placeholder="Make a comment">
            <button><img src="/static/default-img/icons/feather-solid.svg" alt=""></button>
        </div>
        <div class="comments-section">
            <div class="comment">
                <p name="comment">This is a comment</p>
                <div class="comment-foot">
                    <a href="#"><img src="/static/default-img/Chopper.jpeg"></a>
                    <a href="#">
                        <div class="comment-info">
                            <span>23 Dec 2002</span>
                            <span>Tony Tony Chopper | @username</span>
                        </div>
                    </a>
                    <span href="#" type="submit" class="open-delete" onclick="deleteModal({value1:'{{post.id}}', value2:'{{post.post_title}}', value3:'{{csrf_token}}'})">
                        <img src="/static/default-img/remove.png"></span>
                </div>
            </div>
            <div class="comment">
                <p name="comment">Maxime cumque pariatur odio dolorem mollitia quisquam,ips 
                    quam amet molestiae animi in ipsum cum fuga!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    Nesciunt similique voluptates omnis molestiae non earum. </p>
                <div class="comment-foot">
                    <a href="#"><img src="/static/default-img/Chopper.jpeg"></a>
                    <a href="#">
                        <div class="comment-info">
                            <span>23 Dec 2002</span>
                            <span>Tony Tony Chopper | @username</span>
                        </div>
                    </a>
                    <span href="#" type="submit" class="open-delete" onclick="deleteModal({value1:'{{post.id}}', value2:'{{post.post_title}}', value3:'{{csrf_token}}'})">
                        <img src="/static/default-img/remove.png"></span>
                </div>
            </div>
            
        </div>
    </div>
</div>

<script src="/static/js/post-page.js"></script>