<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/post-page.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <title>Create Post</title>
</head>
<body>
    <div class="content-container">
        <div class="content-head">
            <div>
                <a href="#"><img src="/static/default-img/Chopper.jpeg" alt="" ></a>
            </div>
            <a href="{% url 'profile' post.author.user.id %}">
                <div class="user-name">
                    <span>Tony Tony Chopper</span>
                    <span>@username</span>
                </div>
            </a>
            <div>
                <h6>{{post.created | date:"F d Y"}}</h6>
            </div> 
            <div class="content-genres">
                <img loading="lazy" id="genre-icon" src="/media/genre_img/AI.png" alt="{{genre.name}}"> 
                <img loading="lazy" id="genre-icon" src="/media/genre_img/AI.png" alt="{{genre.name}}"> 
                <img loading="lazy" id="genre-icon" src="/media/genre_img/AI.png" alt="{{genre.name}}"> 

            </div>

        </div>

        <div class="content-title">
              <textarea readonly >An Artist Lorem ipsum dolor sit amet consectetur adipisicing elit. 
Eveniet molestiae animi culpa praesentium voluptatibus rerum deleniti,
laborum modi cupiditate itaque excepturi sapiente corrupti recusandae explicabo. At aperiam quam optio esse.</textarea>
        </div>

        <div class="content-body">
            <textarea name="" id="postText">
Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
Nesciunt similique voluptates omnis molestiae non earum. 
Maxime cumque pariatur odio dolorem mollitia quisquam, 
quam amet molestiae animi in ipsum cum fuga!
Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
Nesciunt similique voluptates omnis molestiae non earum. 
Maxime cumque pariatur odio dolorem mollitia quisquam, 
quam amet molestiae animi in ipsum cum fuga!
Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
Nesciunt similique voluptates omnis molestiae non earum. 
Maxime cumque pariatur odio dolorem mollitia quisquam, 
quam amet molestiae animi in ipsum cum fuga!
Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
Nesciunt similique voluptates omnis molestiae non earum. 

</textarea>
        </div>
        <div class="postImage">
            <img src="/static/default-img/backgound-2.jpeg" alt="">
        </div>
        <div class="comments-container">
            <div class="make-comment">
                <input type="text" name="comment" placeholder="Make a comment">
                <button><img src="/static/default-img/icons/feather-solid.svg" alt=""></button>
            </div>
            <div class="comments-section">
                <div class="comment">
                    <p name="comment">This is a comment</p>
                    <div class="comment-foot">
                        <a href="#"><img src="/static/default-img/Chopper.jpeg"></a>
                        <a href="{% url 'profile' post.author.user.id %}">
                            <div class="comment-info">
                                <span>23 Dec 2002</span>
                                <span>Tony Tony Chopper | @username</span>
                            </div>
                        </a>
                        <span href="#" type="submit" class="open-delete" onclick="deleteModal({value1:'{{post.id}}', value2:'{{post.post_title}}', value3:'{{csrf_token}}'})">
                            <img src="/static/default-img/remove.png"></span>
                    </div>
                </div>
                <div class="comment">
                    <p name="comment">Maxime cumque pariatur odio dolorem mollitia quisquam,ips 
                        quam amet molestiae animi in ipsum cum fuga!
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        Nesciunt similique voluptates omnis molestiae non earum. </p>
                    <div class="comment-foot">
                        <a href="#"><img src="/static/default-img/Chopper.jpeg"></a>
                        <a href="{% url 'profile' post.author.user.id %}">
                            <div class="comment-info">
                                <span>23 Dec 2002</span>
                                <span>Tony Tony Chopper | @username</span>
                            </div>
                        </a>
                        <span href="#" type="submit" class="open-delete" onclick="deleteModal({value1:'{{post.id}}', value2:'{{post.post_title}}', value3:'{{csrf_token}}'})">
                            <img src="/static/default-img/remove.png"></span>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</body>
</html>
<script src="/static/js/post-page.js"></script>~