.post-div-container{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(255, 255, 255);
    color:black;
    width:100%;
    height:370px;
    border-radius:7px;
    /* padding:5px; */
}
.post-element-user{
    display: flex; 
    width:auto;
    height:2em; 
    background-image:linear-gradient(30deg,rgb(230, 81, 81), rgb(91, 55, 234),rgb(46, 45, 45));
    color:black;
    cursor: pointer; 
    justify-content:flex-start;
    border-bottom: 1px solid #1e1e24;
    border-radius:7px 7px 1px 1px;
    padding:2px;
    
}
.post-element-user img{
    object-fit: cover;   /* to fit img in center*/
    width:fit-content ;
    max-width: 25px;
    max-height: 1.5em;
    margin: 0px;
    border-radius: 50%;
}
.post-element-user a{text-decoration: none; color: black; margin: 3px;}
.post-element-user h6{ color:black;margin: 7px;}
.post-element-user button{
    width:50px;
    height:1.5em;
    margin: 5px;
    background: rgb(255, 69, 69);
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius:5px;
}
#post-element-title{
    background-color:transparent;
    width:100%;
    height:32px;
    outline: none;
    border-radius: 5px;
    box-sizing: border-box;
    padding:2px 10px 0px 10px;
    align-items: center;
    border: none;
    font-size:20px;
    font:bolder ;
    resize: none;
}
.post-div-content-area{
    display: grid;
    grid-template-columns:1fr 1fr;
    column-gap:4px ;
    margin: 2px;
    
}

.post-div-content-area div textarea{
    font-family: 'Ubuntu Mono', monospace;

    background-color: transparent;
    width:100%;
    min-width:250px;
    height: 250px;
    outline: none;
    overflow-y: scroll;
    border-radius: 5px;
    font-size: 12px;
    border: none;
    border-left:1px solid #1e1e24;
    border-top: 1px solid #1e1e24;
    box-sizing: border-box;
    padding:5px 10px 5px 10px;
    overflow: auto;
    align-items: center;
    resize: none;
    }
textarea::-webkit-scrollbar{display: none;}

.post-element-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 250px;
    border-radius: 5px;
}
.post-element-img img{
    border-radius:5px;
    width:fit-content;
    max-height: 230px;
}
.post-fotter{
    display: flex;
    gap: 5px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px 5px;
    font-size: small;
    flex-direction: column;
}
.post-fotter div{
    display: flex;
    justify-items: flex-start;
    gap: 5px;
}
.post-fotter div h6{
    margin: 0;
}
.post-button{
    width:auto;
    cursor: pointer;
    background-color: rgb(0, 206, 206);
    border-radius: 6px;
    border:1px solid black;
}


